



html::before {

  background: url(../pictures/P1030924.jpg) no-repeat center center fixed;
 font-family: 'Roboto', sans-serif;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  position:absolute;
  background-size: cover;
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
}

/* Makes the links glow a light blue inside the text ( from SU Wiki)*/
a:hover {
    text-shadow: 0 0 2.5px #FA3C3C,0 0 2.5px #FA3C3C;
    color: #FA3C3C !important;
    text-decoration: none !important;
    -webkit-transition: all .4s linear 0s;
    -moz-transition: all .4s linear 0s;
    -ms-transition: all .4s linear 0s;
    -o-transition: all .4s linear 0s;
    transition: all .4s linear 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

/* The Text shadow does a cool animation when hovered over */
a {
    color: #EE0000;
    text-shadow: 0px -15px 2.5px transparent,0px 15px 2.5px transparent;
    text-decoration: none;
}

.list {
    text-align: center;
    list-style: none;
    z-index: 1;
    display: inline-block;
    font-size:250%;
    margin-left: 10%;
    color: beige;
    transition: all 0.5s;
}

.first {



}

.list:hover{

    -webkit-transform:translate(0,-74%);

}

.hider{
position:fixed;
    display: block;
    background: url(../pictures/P1030924.jpg) no-repeat center center fixed;
    float: inherit;
    background-size: cover;
    color: #f1f1f1;

    z-index: 0;
    width: 100%;
    padding: 10%;
    bottom: 37%;
    filter: blur(7px);
}

#nav {
    margin-top: 25%;

    margin-left: 5%;


}