body {
    font-family: 'Roboto', sans-serif;
    background-color: #2753A4;
}

/* The Text shadow does a cool animation when hovered over */
a {
    color: #00B2EE;
    text-shadow: 0px -15px 2.5px transparent,0px 15px 2.5px transparent;
    text-decoration: none;
}

/* Makes the a colour glow inside the text*/
a:hover {
    text-shadow: 0 0 2.5px #3cd7fa,0 0 2.5px #3cd7fa;
    color: #3cd7fa !important;
    text-decoration: none;
    -webkit-transition: all .4s linear 0s;
    -moz-transition: all .4s linear 0s;
    -ms-transition: all .4s linear 0s;
    -o-transition: all .4s linear 0s;
    transition: all .4s linear 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    transition-delay: 0s;
}



li, ul{
    list-style-type: none;
}


/*
 *	Search
 */

.searchContainer {
    text-align: center;
    margin-bottom: 24pt;
}

.searchForm {
    overflow: hidden;
    transition: height 0.3s;
    height: 0;
}

.searchBar {
    box-sizing: border-box;
    height: 32pt;
    max-width: 95%;
    font-size: 22pt;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    color: transparent;
    text-shadow: 0 0 0 white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

.searchBar:focus {
    background-color: rgba(0, 0, 0, 0.9);
}

.searchView {
    height: 32pt;
}

/*
 *	Search dots
 */
.dotstyle {
    margin-top: 20px;
}

.dotstyle ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
}

.dotstyle li {
    position: relative;
    display: block;
    float: left;
    margin: 0 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255,255,255,0.3);
    text-indent: -999em;
    cursor: pointer; /* make the text accessible to screen readers */
    position: absolute;
}

.dotstyle-fillup li a {
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
    transition: background 0.3s;
}

.dotstyle-fillup li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 1px #fff;
    transition: height 0.3s;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
    background-color: rgba(0,0,0,0.2);
}

.dotstyle-fillup li.current a::after {
    height: 100%;
}


#toggleBlur{
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.8s;
    opacity: 0.1;
}

#toggleBlur:hover{
    transition: opacity 0.8s;
    opacity: 1;
}
